# Analysis of Citibike bike dock stations

In [ ]:
%load_ext autoreload
%autoreload 2

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# import our helpers module. appending parent directory ("..") to sys.path might be necessary for helpers to be imported on some systems
import sys

sys.path.insert(0, "..")
import helpers

## Read data
* trips
* stations

In [ ]:
DATA_DIR = "../data/"
STATIONS_DIR = DATA_DIR + "stations/"

In [ ]:
%%time
trips = helpers.get_trips(2019, DATA_DIR)
trips["starttime"] = pd.to_datetime(trips["starttime"])
trips["stoptime"] = pd.to_datetime(trips["stoptime"])

trips

CPU times: user 38.4 s, sys: 19.8 s, total: 58.3 s
Wall time: 57.5 s

,tripduration,starttime,stoptime,startstationid,endstationid,bikeid,usertype,birthyear,gender
0,320,2019-01-01 00:01:47.401,2019-01-01 00:07:07.581,3160,3283,15839,Subscriber,1971,1
1,316,2019-01-01 00:04:43.736,2019-01-01 00:10:00.608,519,518,32723,Subscriber,1964,1
2,591,2019-01-01 00:06:03.997,2019-01-01 00:15:55.438,3171,3154,27451,Subscriber,1987,1
3,2719,2019-01-01 00:07:03.545,2019-01-01 00:52:22.650,504,3709,21579,Subscriber,1990,1
4,303,2019-01-01 00:07:35.945,2019-01-01 00:12:39.502,229,503,35379,Subscriber,1979,1
...,...,...,...,...,...,...,...,...,...
20551512,729,2019-10-31 23:59:12.190,2019-11-01 00:11:21.486,237,311,25725,Subscriber,1995,1
20551513,645,2019-10-31 23:59:17.047,2019-11-01 00:10:02.945,3259,461,39583,Customer,1969,0
20551514,257,2019-10-31 23:59:22.514,2019-11-01 00:03:40.260,3798,505,21240,Subscriber,1985,1
20551515,466,2019-10-31 23:59:23.171,2019-11-01 00:07:09.205,328,361,34916,Subscriber,1989,0
20551516,81,2019-10-31 23:59:51.517,2019-11-01 00:01:13.215,539,3093,25745,Subscriber,1990,1

In [ ]:
# read stations
stations = pd.read_csv(STATIONS_DIR + "stations.csv", index_col=0)
stations

,stationid,stationname,latitude,longitude,capacity,neighbourhood,boro,zipcode,elevation_ft
0,455.0,1 Ave & E 44 St,40.750020,-73.969053,59.0,Turtle Bay,Manhattan,10017-6927,46.80
1,434.0,9 Ave & W 18 St,40.743174,-74.003664,60.0,Chelsea District,Manhattan,10019,15.90
2,491.0,E 24 St & Park Ave S,40.740964,-73.986022,NaN,Manhattan Community Board 5,Manhattan,10010,34.87
3,384.0,Fulton St & Waverly Ave,40.683178,-73.965964,31.0,NaN,Brooklyn,11238,78.10
4,474.0,5 Ave & E 29 St,40.745168,-73.986831,56.0,Midtown South,Manhattan,10035,41.55
...,...,...,...,...,...,...,...,...,...
1425,3685.0,Prospect Park - 5 Year Anniversary Celebration,40.660652,-73.964590,NaN,NaN,Brooklyn,11225,85.71
1426,3695.0,E 5 St & 2 Ave,40.726870,-73.989190,NaN,East Village,Manhattan,10003,36.09
1427,3700.0,E 87 St & 3 Ave,40.779406,-73.953336,NaN,Carnegie Hill,Manhattan,10028,79.35
1428,3805.0,E 80 St & Park Ave,40.776173,-73.959757,NaN,Manhattan Community Board 8,Manhattan,10075,79.28
1429,3747.0,E 84 St & 3 Ave,40.777554,-73.955128,NaN,NaN,Manhattan,10028,78.35

## Stations EDA

In [ ]:
# get number of stations by year to see growth
# map them
# most popular/least + trips
# elevation does it affect stuff
# more

In [ ]:
# get number of all stations ever
stations.shape

(1430, 9)